@keyframes up {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes r360inf {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
